body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #4f546c !important;
    font-size: 0.9rem;
    background-color: #ffffff !important;

}
.Adminarea{
    width: 95vw;
    height: 90vh;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;           display: flex;
}

.manage_schedule{
    width: 320px;
    height: 350px;
    cursor: pointer;
    text-decoration: none;
    color: #4f546c;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
    background-size: 300px;
    background-repeat: no-repeat;
    background-image: url(../images/shcedule3.svg);

}

.manage_schedule:hover{
    transform: scale(1.08);
    text-decoration: none;
    color: #38d39f;

}


.manage_usrs{
    width: 320px;
    height: 350px;
    cursor: pointer;
    text-decoration: none;
    color: #4f546c;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
    margin-right: 200px;
    background-size: 300px;
    background-repeat: no-repeat;
    background-image: url(../images/users.svg);

}

.manage_usrs:hover{
    transform: scale(1.08);
    color: #38d39f;
    text-decoration: none;

}


