body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #4f546c !important;
    font-size: 0.9rem;
    background-color: #f9fbff;

}

table{
    height: 200px !important;
    width: 900px !important;
    overflow: scroll;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px #e1e5ee;
    text-align: center;
    margin: 10px;

}
thead{
    box-shadow: #e1e5ee 0px 12px 10px;
    text-align: center;
}

th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 17px;
    font-weight:750;

}


tbody tr {
    transition: all .3s ease-in;
    cursor: pointer;

}

td {
    padding: 1rem 2rem;

}

tbody tr:hover {
    background-color: #f5f5f5;
    padding: 1rem 2rem;
    transform: scale(1.02);
    font-size: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/*media query*/

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}

