body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #4f546c !important;
  font-size: 0.9rem;
  background-color: #ffffff !important;
  padding: 10px !important;
}

.main{
  width: 95vw;
  height: 90vh;
  background-color: #ffffff;
  margin-bottom: 10px !important;

}

#main_col{
  margin-left: 8%;
  padding: 60px;
  padding-top: 90px;
  font-size: 1rem;
  height: 600px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;    
}

select {
   cursor: pointer !important;
   display: block !important;
   margin: 0 auto !important;
   background-color: rgb(255, 255, 255)!important;
   font-weight: 500 !important;
   box-shadow: 0px 5px 10px #e1e5ee !important ;

}


select option{
  font-size: 20px !important;
  color: #4f546c;
  font-weight: 400;

}
 select #options{
  height: 50px !important;
  width: 20px !important;
  overflow: scroll !important;
}

::-webkit-scrollbar {
  width: 8px;
  
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
  background:  #555; 
}
#check{
float: right;
width: 100px;
padding: 7px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1.2px;
background-image: linear-gradient(to right, #00BFA6, #38d39f, #00BFA6) !important;
background-size: 200% !important;
border:none !important;
font-size: 15px !important;
border-radius: 8px;
color: #fff;
margin-top: 50px;
}

#check:focus{
  box-shadow: none !important;
}
#check:hover{
  transform: scale(1.05);
  background-position: right;

}

.img{
  width: 300px;
  height: 600px;
  margin-left: 35%;
  margin-top: 10%;
  background-size: 300px;
  background-repeat: no-repeat;
  background-image: url(../images/exam_details\ \(2\).svg);

}



i{
  font-size: 23px !important;
  margin: 5px;
  color: #00BFA6;
}


.button_logout{
  float: right;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 15px;
  color: #18181a;
  display: inline-block;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button_logout span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 30px;
}

.button_logout:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #b23b3b, #ac5d72, #b23b3b) !important;
  background-size: 200% !important;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.button_logout:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button_logout:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}



.button_back{
float: left;
position: relative;
overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
border-radius: 15px;
color: #18181a;
display: inline-block;
font-size: 12px;
padding-left: 10px;
padding-right: 10px;
cursor: pointer;
background: #fff;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;

}
.button_back span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 30px;
}

.button_back:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #00BFA6, #38d39f, #00BFA6) !important;
  background-size: 200% !important;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.button_back:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button_back:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

