* {
    font-size: 25px !important;
}
html,
body {
    height: 100% !important;
    width: 100% !important;
    background-color: #f9fbff !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.MainDiv{
    background-color: #f9fbff;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
}


/*Details Box */
.Box {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    color: #4f546c(19, 18, 18);
    overflow-wrap: break-word;
    box-shadow: 0px 5px 10px #e1e5ee;
    padding: 20px;
    background-color: rgb(255, 255, 255);

}

.Box_span {
    margin-right: 30px;
    font-weight:400;
}


/* Timer */
.Timer {
    color:#38d39f;
    text-align: center;
    width: 60px;
    margin-left: 12%;
}
.Timer_Icon_button{
    height: 60px;
    width: 200px;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    overflow:hidden;
}

.Timer_Icon_button:hover{
    width: 200px;
}

#icon{
    font-size: 30px !important;
    color:#32be8f;
}
#icon i{
    font-size: 25px !important;
    line-height: 60px !important;
    
}
span{
    font-size: 25px;
    font-weight: 50;
    line-height: 50px;
    align-items: end;
    color: #4f546c;
}



/* Questions Box */
.Questions_Box {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px #e1e5ee;
    height: 450px;
    border-radius: 10px;
    padding: 15px 15px;

  }
  .Questions_Box_h2 {
    color: #4f546c;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 30px !important;
  }
  .scroldiv {
    max-height: 80%;
    overflow-y: scroll;

  }
  ::-webkit-scrollbar {
    width: 7px;
    
  }
  ::-webkit-scrollbar-track {
    background: none; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  
  ul {
    list-style-type: circle;
    display:inline-block;
    color: #4f546c;
    text-decoration: none;
    }
    
     li a {
        display:inline-block;
        color: #4f546c;
        padding: 8px 15px;
        text-decoration: none;
      font-size: 20px !important;
  
    }
    
    /* Change the link color on hover */
      /* CHANGE THE LI IF IT UN USEDDD */
  
    li a:hover {
      color: #38d39f;
      transform: scale(1.09);
      text-decoration: none;
    }
    li a:active {
      color: #38d39f;
      transform: scale(1.09);
      text-decoration: none;

  
    }

    /* Questions */
    .Question_Area{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 10px #e1e5ee;        flex-grow: 1;
        display: flex;
        width: 100%;
        overflow-y: scroll;
        margin-top: 25px;
        height: 400px;
        color: #4f546c;
        overflow-wrap: break-word;
        border-radius: 10px;

    
    }

    .Questions{
        width: 100%;
    }
    .anr_question{
        width: 100%;
        padding: 15px 15px;

    }
    .question_hr{
        width: 100%;
    }
    /* buttons */
 .btns{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 5px;

    }

#btn-prev{
    width: 100px;
    padding: 6px;
    margin-right: 50px;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) !important;
    background-size: 200% !important;
    border:none !important;
    font-size: 17px !important;
    border-radius: 10px;
    color: #fff;
}
#btn-prev:focus{
    box-shadow: none !important;
}
#btn-prev:hover{
    transform: scale(1.05);
    background-position: right;

}

#btn-next{
    width: 100px;
    padding: 6px;
    margin-right: 50px;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) !important;
    background-size: 200% !important;
    border:none !important;
    font-size: 17px !important;
    border-radius: 10px;
    color: #fff;

}
#btn-next:focus{
    box-shadow: none !important;

}
#btn-next:hover{
    transform: scale(1.05);
    background-position: right;

}
:disabled{
    cursor: not-allowed;
}


#Submit_button{
    width: 100px;
    padding: 6px;
   	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) !important;
    background-size: 200% !important;
    border:none !important;
    font-size: 17px !important;
    border-radius: 10px;
    color: #fff;
    margin-left: 3% !important;
}

#Submit_button:focus{
    box-shadow: none !important;
}
#Submit_button:hover{
    transform: scale(1.05);
    background-position: right;

}

/* Answer */
.answers{
    padding: 20px;
}
.form-check{
    padding: 3px;
}

.active_question{
    color: #38d39f;
}


.hide-div{
    display: none;
}



#hours{
    color: #38d39f;

}
#minutes{
    color: #38d39f;

}
#seconds{
    color: #38d39f;

}



