body{
    color: #4f546c !important;
    font-size: 20px;
    background-color: #f9fbff;

}
.main{
    margin: 100px;
    margin-top: 100px;
}


.btn-primary{
    background-color:rgb(17, 0, 255);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 90%;
    
}
select {
   cursor: pointer !important;
}

::-webkit-scrollbar {
  width: 7px;
  
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background: #4f546c; 
  border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
  background: #4f546c; 
}
#check{
  margin-left: 49% !important;
}