body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #4f546c !important;
    font-size: 0.9rem;
    background-color: #f9fbff;

}
#dropdownMenuButton {
    background-color: #00BFA6 !important;
    color: white;
}

table{
    height: 200px !important;
    width: 900px !important;
    overflow: scroll;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px #e1e5ee;
    text-align: center;
    margin: 10px;

}
thead{
    box-shadow: #e1e5ee 0px 12px 10px;
    text-align: center;
}

 th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 15px;
    font-weight:750;


}
td{
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: 450;

}
#IT_DIV{
    display: none;
}

.error_msg{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;

}

#err{
    width: 90px;
    display: block;
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

#IT_ERROR_DIV{
    display: none;
}

#IT_err{
    background-color: #00BFA6 !important;
    color: white;
}

