body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #4f546c !important;
    font-size: 0.9rem;
    background-color: #f9fbff;

}

table{
    height: 200px !important;
    width: 900px !important;
    overflow: scroll;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px #e1e5ee;
    text-align: center;
    margin: 10px;

}
thead{
    box-shadow: #e1e5ee 0px 12px 10px;
    text-align: center;
}

 th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 15px;
    font-weight:750;

}
td{
    padding: 1rem 2rem;
}

#PH_DIV{
    display: none;
}
#IT_DIV{
    display: none;
}
#MASS_DIV{
    display: none;
}
#DENT_DIV{
    display: none;
}
