body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #4f546c !important;
    font-size: 0.9rem;
    background-color: #f9fbff;
}

html,body{
    height: 100%;
}
table{
    height: 200px !important;
    width: 900px !important;
    overflow: scroll;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px #e1e5ee;
    text-align: center;
    margin: 50px;

}

thead{
    box-shadow: #e1e5ee 0px 12px 10px;
    text-align: center;
}

th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 17px;
    font-weight:750;

}


td {
    padding: 1rem 2rem;
    font-size: 18px;

}

/*tbody tr:hover {
    padding: 1rem 2rem;
    /*transform: scale(1.02);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: 500;
}*/

#btn_details{
   	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) !important;
    background-size: 200% !important;
    border:none !important;
    font-size: 17px !important;
    border-radius: 5px;
    color: #fff;
}


#btn_details:focus{
    box-shadow: none !important;
}
#btn_details:hover{
    transform: scale(1.05);
    background-position: right;

}
#btn_upload{
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) !important;
 background-size: 200% !important;
 border:none !important;
 font-size: 17px !important;
 border-radius: 5px;
 color: #fff;
}


#btn_upload:focus{
 box-shadow: none !important;
}
#btn_upload:hover{
 transform: scale(1.05);
 background-position: right;

}

.log_out{
float: right;
font-size: 30px;
color: #b23b3b;
}
.log_out:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.back{
    float: left;
    font-size: 30px;
    color: #32be8f;
}
.back:hover{
    cursor: pointer;
    transform: scale(1.05);
}
/*media query*/

@media only screen and (max-width: 768px) {

    table {
        width: 80% !important;
        height: 90% !important;
        margin: 200px !important;
    }
}

