#buttons{
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


table.table {
    table-layout: fixed;
}


table.table th:last-child {
    width: 100px;
}
#mainsDiv{
  /*  display:none;*/
}

