*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    height: 100vh;
    color: #4f546c !important;
    font-size: 0.9rem;
    background-color: #f9fbff;

}


.main-container .header-container{
    width: 100%;
    background: #fafafa;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px #e1e5ee;

}
.main-container .header-container .header-content{
    width: 80%;
    margin: 10px auto;
    padding: 20px;  
}

.main-container .body-container .body-content{
    margin-top: 140px; 
}

.main-container .body-container .body-content .logo-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #38d39f; 
}


.main-container .body-container .body-content .ExamPassed button{
    padding: 10px 20px 10px 20px;
    border: 1px solid #38d39f;
    background: #fff;
    color: #38d39f;
   
}




